/**
 *
 * misc_loading-indicator
 *
*/

@import '@applejelly/style/variables.scss';
@import '@applejelly/style/global.scss';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

.AJ-misc_loading-indicator {
    $li: &;
    display: inline-block;
    line-height: 0;

    &__rotating {
        contain: strict;
        height: 16px;
        width: 16px;

        &--xxs {
            height: 10px;
            width: 10px;
        }

        &--sm,
        &--xs {
            height: 14px;
            width: 14px;
        }

        &--md {
            height: 16px;
            width: 16px;
        }

        &--lg {
            height: 18px;
            width: 18px;
        }

        &--xl {
            height: 22px;
            width: 22px;
        }

        &--xxl {
            height: 28px;
            width: 28px;
        }
    }
    &--is-animated {
        animation: spin 0.75s linear infinite;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
        transform-origin: center center;
        will-change: transform;
    }

    &__svg {
        stroke: none;
        height: 100%;
        width: 100%;
    }

    &__background {
        --indicator-background: rgba(0, 0, 7, 0.29);
        fill: var(--indicator-background);
    }

    &__foreground {
        fill: var(--ui-text-primary);
    }

    &--is-knockout {
        #{$li}__background {
            fill: var(--ui-text-knockout);
            opacity: 0.5;
        }

        #{$li}__foreground {
            fill: var(--ui-text-knockout);
            opacity: 0.8;
        }
    }
}
