/**
 *
 * autocomplete_async-autocomplete
 *
*/

@import '@applejelly/style/variables.scss';
@import '@applejelly/style/global.scss';

.autocomplete_async-autocomplete {
    &__list {
        overflow: auto;
        max-height: 200px;
    }
    &__ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &.--shadow {
        box-shadow:
            0 0 1px rgba(0, 0, 0, 0.1),
            0 3px 12px var(--ui-shadow-strength);
    }

    &__menu {
        border: solid 1px var(--ui-interaction-primary);
        background-color: white;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        & .--flex {
            display: flex;
        }
        &.--category {
            flex-grow: 5;
            border: none;
            width: 150;
        }
    }
    &__dropdown-empty {
        padding: 10px;
        color: var(--gray-125);
    }
    &__dropdown_list {
        // & li div[data-keyword] {
        //   text-overflow: ellipsis;
        //   overflow: hidden;
        // }
        position: relative;
        &-item {
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            color: black;
            padding: 0px 10px;
            &.--focused {
                background-color: var(--ui-interaction-primary);
                color: white;
            }

            & [data-keyword] {
                flex: 1;
            }
            & [data-description] {
                margin-right: 5px;
                color: var(--gray-75);
            }
        }
    }
    &__panel {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        background-color: transparent;
        overflow-y: hidden;
        min-height: 210px;
        flex-grow: 0;
        min-width: 0px;
        &.--activated {
            background-color: white;
            overflow-y: scroll;
            min-width: 150px;
            min-height: 210px;
        }
    }
    &__panel-wrapper {
        // 여기다 쓸까
    }
    // Input Wrapper
    &__input-wrapper {
        border: solid 1px #c2c8dd;
        border-radius: 2px;
        display: flex;
        padding: 0.125rem;
        position: relative;
        flex-grow: 1;

        &.--focus {
            border-color: var(--ui-interaction-primary);
            // background-color: var(--blue-200);
            background-color: var(--ui-interaction-secondary);
        }

        &.--readonly {
            background-color: var(--gray-50);
            &:hover {
                border: 1px solid #c2c8dd;
            }
            & * {
                cursor: not-allowed;
            }
        }

        &.--open {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        & input {
            height: 23px;
            border: none;
            outline-color: transparent;
            outline-width: 0px;
            resize: none;
            min-width: 1px;
            flex: 2;
            &.--focus {
                // background-color: var(--blue-700);
                background-color: var(--ui-interaction-secondary);
            }
        }
        & input::placeholder {
            color: var(--gray-125);
        }
    }

    &__layout-container {
        display: flex;
        overflow: hidden;
        width: 100%;
        padding-left: 6px;
        white-space: no-wrap;
        flex-wrap: nowrap;
        align-items: center;
        height: 23px; //NOTE:
        & .--wrap {
            flex-wrap: wrap;
        }
    }

    &__custom-scroll {
        overflow: auto;
        max-height: 210px;
        &::-webkit-scrollbar {
            background-color: #f9f9f9;
            border-left: 1px solid #c2c8dd;
            border-right: 1px solid #c2c8dd;
        }
        &::-webkit-scrollbar-thumb {
            background-clip: content-box;
            border: 2px solid transparent;
        }
    }

    &__indicator {
        padding: 10px;
        color: var(--gray-300);
    }

    &__recent-search {
        &-no-result {
            padding: 10px;
            color: var(--gray-125);
        }
        &-wrapper {
            position: relative;
            width: 100%;
        }
        &-header {
            // position: fixed;
            position: sticky;
            height: 30px;
            background-color: var(--gray-75);
            // width: calc(100% - 9px);
            width: 100%;
            z-index: 1000;
            display: flex;
            align-items: center;
            padding-left: 10px;
            color: var(--gray-400);
        }
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            color: black;
            height: 30px;

            & .value {
                flex: 1;
                padding-left: 10px;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
            & .type {
                color: var(--gray-125);
                margin-right: 8px;
            }
            &:hover {
                background-color: var(--ui-interaction-primary);
                * {
                    color: white;
                }
            }

            // Override Button component's svg style
            & div.form_button__icon-wrapper svg {
                width: 10px;
                height: 10px;
                margin-top: 2px;
                margin-left: 2px;
            }
        }
    }
}
