/**
 *
 * Button
 *
 */

@import './mixin';
@import '@applejelly/style/variables.scss';
@import '@applejelly/style/global.scss';

.form_button {

  $button: &;

  // color: var(--foo)!important;

  // 기본 변수 및 스타일
  // --_button-text: white ;
  @include Button-variables;
  align-items: center;
  -webkit-appearance: none;
  background: transparent;
  background-color: var(--_button-bg--override, var(--_button-bg));
  border: none;
  border: 1px solid var(--_button-border--override, var(--_button-border));
  border-radius: var(--_ui-lockup--tl, var(--ui-border-radius)) var(--_ui-lockup--tr, var(--ui-border-radius)) var(--_ui-lockup--br, var(--ui-border-radius)) var(--_ui-lockup--bl, var(--ui-border-radius));
  box-sizing: border-box;
  color: inherit;
  color: var(--_button-text--override, var(--_button-text));
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-family: NotoSans, Lucida Grande, Lucida Sans Unicode, sans-serif;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:focus:not(.focus-visible), &:focus:not(:focus) {
    -webkit-user-select: text;
    user-select: text;
    outline: none;
  }

  &:active {
    -webkit-user-select: none;
    user-select: none;
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  // 크기 변형
  @each $size, $values in (
    xs: (11px, 20px, 18px, 13.33333px), 
    sm: (12px, 24px, 22px, 16px), 
    md: (13px, 28px, 26px, 18.66667px), 
    lg: (15px, 36px, 34px, 24px), 
    xl: (18px, 44px, 42px, 29.33333px)
  ) {
    &--#{$size} {
      --ui-border-radius: 3px;
      font-size: nth($values, 1) !important;
      height: nth($values, 2);
      line-height: nth($values, 3);
      padding: 0 calc(nth($values, 4) - .66667em);

      &#{$button}--has-icon-only {
        padding: 0;
        width: nth($values, 2);
      }
    }
  }

  // 상태 변형
  &--is-full-width {
    width: 100%;
  }

  &--is-hovered, &:hover {
    box-shadow: var(--_button-shadow--hover);
  }

  &--is-active[class], 
  &--is-hovered[class], 
  &:active, 
  &:focus.focus-visible, 
  &:hover {
    --_button-border--override: var(--_button-border--hover);
    --_button-icon-color--override: var(--_button-icon-color--hover);
    background-color: var(--_button-bg--hover, var(--_button-bg));
    border-color: var(--_button-border--hover, var(--_button-border));
    color: var(--_button-text--hover, var(--_button-text));
  }

  &--is-active[class], 
  &:active {
    background-color: var(--_button-bg--active, var(--_button-bg--hover, var(--_button-bg)));
    box-shadow: var(--_button-shadow--active);
    color: var(--_button-text--active, var(--_button-text--hover, var(--_button-text)));
  }

  // 스타일 변형
  @include Button-styles;

  // 비활성화 상태
  &--is-disabled, &:disabled {
    box-shadow: none !important;
    cursor: not-allowed !important;

    &:not(#{$button}--is-primary):not(#{$button}--is-borderless):not(#{$button}--is-naked) {
      background-color: var(--form-background-disabled) !important;
      border-color: var(--form-border-disabled) !important;
      color: var(--form-text-disabled) !important;
    }

    &#{$button}--is-primary:not(#{$button}--is-borderless):not(#{$button}--is-naked) {
      background-color: var(--_button-bg--disabled);
      border-color: var(--_button-bg--disabled);
      color: var(--button-primary-text-disabled);
    }

    &#{$button}--is-borderless, &#{$button}--is-naked {
      background-color: initial !important;
      color: var(--form-text-disabled) !important;
    }
  }

  @media (forced-colors: active) {
    &--is-disabled,
    &:disabled {
      border-style: dashed
    }
  }

  // 아이콘 및 기타 요소
  &__icon-wrapper {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    height: 100%;
    vertical-align: top;

    & + #{$button}__feature-status-label {
      margin-left: .5em;
    }
  }

  &__icon {
    color: var(--_button-icon-color--override, var(--_button-icon-color));
    pointer-events: none;

    &--position-right {
      margin-left: .5em !important;
      order:2;
    }

    &--position-left {
      margin-right: .5em !important;
    }
  }

  &__loading-indicator {
    opacity: .8;
    vertical-align: middle;
  }

  &__content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__feature-status-label {
    margin-left: 4px;
    position: relative;
  }

  &:not(#{$button}--is-disabled)#{$button}--is-borderless#{$button}--is-active #{$button}__feature-status-label, 
  &:not(#{$button}--is-disabled)#{$button}--is-borderless#{$button}--is-hovered #{$button}__feature-status-label, 
  &:not(#{$button}--is-disabled)#{$button}--is-borderless:active #{$button}__feature-status-label, 
  &:not(#{$button}--is-disabled)#{$button}--is-borderless:focus.focus-visible #{$button}__feature-status-label, 
  &:not(#{$button}--is-disabled)#{$button}--is-borderless:hover #{$button}__feature-status-label {
    // color: var(--ui-text-knockout);
    color: var(--ui-white);
  }
}
