/**
 *
 * layout_overflower
 *
*/

@import '@applejelly/style/variables.scss';
@import '@applejelly/style/global.scss';
$overflow: '.layout_overflower';

.layout_overflower {
    --overflower-max-width: 100%;
    --overflower-line-height: 1.4;
    --overflower-height: 0px;
    --overflower-padding-x: 0px;
    --overflower-padding-y: 0px;
    --overflower-vertical-align: baseline;
    box-sizing: border-box;
    display: block;
    max-width: var(--overflower-max-width);
    min-width: 0;

    &--size-inherit {
        --overflower-height: 1.4 * 1em;
    }

    &--size-xxs {
        --overflower-height: 12px;
    }

    &--size-xs {
        --overflower-height: 15px;
    }

    &--size-sm {
        --overflower-height: 17px;
    }

    &--size-md {
        --overflower-height: calc(
            var(--ui-base-font-size, 18px) * var(--ui-base-line-height, 1)
        );
    }

    &--size-lg {
        --overflower-height: 21px;
    }

    &--size-xl {
        --overflower-height: 25px;
    }

    &--size-xxl {
        --overflower-height: 32px;
    }

    &--is-inline {
        display: inline-block;
    }

    &__content {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    &__overflow {
        display: none;
    }

    &__after,
    &__before,
    &__original {
        display: inline;
    }

    &__after,
    &__before {
        flex-shrink: 0;
    }

    &__tooltipContent {
        word-wrap: break-word;
        overflow-wrap: break-word;

        &--is-array {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -4px -2px 0;

            &[class] > * {
                margin: 4px 2px 0 !important;
                max-width: 100%;
            }
        }
    }

    @supports (flex-wrap: wrap) {
        & {
            align-items: var(--overflower-vertical-align);
            display: flex;
        }

        &--is-inline {
            display: inline-flex;
        }

        &:before {
            content: '\a0';
            min-width: 0;
            width: 0;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            height: calc(
                var(--overflower-height) + var(--overflower-padding-y) * 2
            );
            line-height: var(--overflower-line-height);
        }

        &__original {
            align-items: var(--overflower-vertical-align);
            box-sizing: border-box;
            display: inline-flex;
            flex-basis: 100%;
            height: 100%;
            padding: var(--overflower-padding-y) var(--overflower-padding-x);
        }

        &__original:first-child,
        &__overflow {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__overflow {
            display: flex;
            flex-grow: 1;
            margin-bottom: 1px;
            width: 0;
        }

        &__overflow-content {
            display: inline-flex;
            max-width: 100%;
            min-width: 0;
            padding: var(--overflower-padding-y) var(--overflower-padding-x);
        }

        &__overflow-inner {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__overflow-inner > * {
            vertical-align: top;
        }

        &__overflow--position-start:before {
            content: '\2026';
        }

        &__overflow--position-start > &__overflow-content {
            justify-content: flex-end;
            overflow: hidden;
        }

        &__overflow--position-start > * > &__overflow-inner {
            max-width: none;
            overflow: visible;
        }

        &--has-auto-height:before {
            display: none;
        }

        &--has-auto-height > &__content {
            height: auto;
            margin-bottom: -1px;
        }

        &--has-auto-height > * > &__original {
            height: 0;
            margin-bottom: calc(var(--overflower-padding-y) * -2);
        }

        & > &__after:not(:empty) {
            padding: var(--overflower-padding-y) var(--overflower-padding-x);
            padding-left: 0;
        }

        & > &__before:not(:empty) {
            padding: var(--overflower-padding-y) var(--overflower-padding-x);
            padding-right: 0;
        }
    }

    @supports (-webkit-mask-image: none) or (mask-image: none) {
        &__overflow {
            --overflower-clip-direction: to right;
        }

        &__overflow--position-start {
            --overflower-clip-direction: to left;
        }

        &__overflow--type-gradient {
            -webkit-mask-image: linear-gradient(
                var(--overflower-clip-direction),
                #000,
                #000 calc(100% - 48px - var(--overflower-padding-x)),
                transparent calc(100% - var(--overflower-padding-x))
            );
            mask-image: linear-gradient(
                var(--overflower-clip-direction),
                #000,
                #000 calc(100% - 48px - var(--overflower-padding-x)),
                transparent calc(100% - var(--overflower-padding-x))
            );
        }

        &__overflow--type-gradient:before {
            display: none;
        }

        &__overflow--type-gradient,
        &__overflow--type-gradient > * > &__overflow-inner {
            text-overflow: clip;
        }
    }

    &--is-disabled {
        display: inline-block;
        height: auto;
        line-height: var(--overflower-line-height);
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;

        &[style*='--overflower-padding-y:'] {
            padding-bottom: var(--overflower-padding-y);
            padding-top: var(--overflower-padding-y);
        }

        &[style*='--overflower-padding-x:'] {
            padding-left: var(--overflower-padding-x);
            padding-right: var(--overflower-padding-x);
        }

        &:before {
            display: none;
        }
    }

    &__tooltipContent
        > .Select-value:not(:last-child)
        > .Select-value-label:after {
        content: ', ';
    }

    &__tooltipContent > .Select-value > * > .Select-aria-only,
    &__tooltipContent > .Select-value > .Select-value-icon {
        display: none;
    }
}
