/**
 *
 * misc_highlight-keywords
 *
*/

@import '@applejelly/style/variables.scss';
@import '@applejelly/style/global.scss';

.AJ-misc_highlight-keywords {
    &__highlighted {
        background-color: var(--keyword-highlight);
        color: var(--ui-text);
    }
}

/* theme coloring을 별도로 분리. (highlight color는 
이 컴포넌트에서만 사용될 것이기에,
 variable.scss에 들어갈 필요는 없음. 관리가 더 어려울뿐)
 */
@media (prefers-color-scheme: light) {
    .misc_highlight-keywords {
        --keyword-highlight: #fff5ba;
    }
}

@media (prefers-color-scheme: dark) {
    .misc_highlight-keywords {
        --keyword-highlight: #660036;
    }
}
