/**
 *
 * common_icon
 *
*/
.AJ-common_icon {
    $icon: &;

    //   fill: currentColor;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1em;
    width: 1em;

    &--has-inline-centering {
        margin-top: -0.3em;
        vertical-align: middle;
    }

    &--xxs {
        height: 10px;
        width: 10px;

        &#{$icon}--is-scaled-down {
            height: 8px;
            width: 8px;
        }
    }

    &--xs {
        height: 14px;
        width: 14px;

        &#{$icon}--is-scaled-down {
            height: 12px;
            width: 12px;
        }
    }

    &--sm {
        height: 14px;
        width: 14px;

        &#{$icon}--is-scaled-down {
            height: 12px;
            width: 12px;
        }
    }

    &--md {
        height: 16px;
        width: 16px;

        &#{$icon}--is-scaled-down {
            height: 14px;
            width: 14px;
        }
    }

    &--lg {
        height: 18px;
        width: 18px;

        &#{$icon}--is-scaled-down {
            height: 16px;
            width: 16px;
        }
    }

    &--xl {
        height: 22px;
        width: 22px;

        &#{$icon}--is-scaled-down {
            height: 18px;
            width: 18px;
        }
    }

    &--xxl {
        height: 28px;
        width: 28px;

        &#{$icon}--is-scaled-down {
            height: 24px;
            width: 24px;
        }
    }
}
