.AJ-layout_flex {
    $flex: &;

    display: flex;

    &--is-inline[class] {
        display: inline-flex;
    }

    &--align-items {
        &-flex-start {
            align-items: flex-start;
        }

        &-center {
            align-items: center;
        }

        &-flex-end {
            align-items: flex-end;
        }

        &-stretch {
            align-items: stretch;
        }

        &-baseline {
            align-items: baseline;
        }
    }

    &--is-full-width {
        min-width: auto;
        width: 100%;
    }

    &--is-full-height {
        height: 100%;
        min-height: auto;
    }

    &--direction {
        &-row {
            flex-direction: row;
        }

        &-column {
            flex-direction: column;
        }

        &-row-reverse {
            flex-direction: row-reverse;
        }

        &-column-reverse {
            flex-direction: column-reverse;
        }
    }

    &--justify {
        &-flex-start {
            justify-content: flex-start;
        }

        &-center {
            justify-content: center;
        }

        &-flex-end {
            justify-content: flex-end;
        }

        &-space-between {
            justify-content: space-between;
        }

        &-space-around {
            justify-content: space-around;
        }

        &-space-evenly {
            justify-content: space-evenly;
        }
    }

    &--wrap {
        &-nowrap {
            flex-wrap: nowrap;
        }

        &-wrap {
            flex-wrap: wrap;
        }

        &-wrap-reverse {
            flex-wrap: wrap-reverse;
        }
    }

    &--has-min-width {
        min-width: var(--flex-min-width);
    }

    &--has-max-width {
        max-width: var(--flex-max-width);
    }

    &--has-x-gap:not(&--direction-row-reverse) > * {
        margin-left: var(--flex-gap-x);
    }

    &--direction-row-reverse#{$flex}--has-x-gap > * {
        margin-right: var(--flex-gap-x);
    }

    &--has-y-gap:not(&--direction-column-reverse) > * {
        margin-top: var(--flex-gap-y);
    }

    &--direction-column-reverse#{$flex}--has-y-gap > * {
        margin-bottom: var(--flex-gap-y);
    }

    &--wrap-nowrap#{$flex}--has-x-gap > :first-child {
        --flex-gap-x: 0;
    }

    &--wrap-nowrap#{$flex}--has-y-gap > :first-child {
        --flex-gap-y: 0;
    }

    &:not(&--direction-row-reverse):not(&--wrap-nowrap)#{$flex}--has-x-gap {
        margin-left: calc(var(--flex-gap-x) * -1);
    }

    &--direction-row-reverse:not(&--wrap-nowrap)#{$flex}--has-x-gap {
        margin-right: calc(var(--flex-gap-x) * -1);
    }

    &:not(&--direction-column-reverse):not(&--wrap-nowrap)#{$flex}--has-y-gap {
        margin-top: calc(var(--flex-gap-y) * -1);
    }

    &--direction-column-reverse:not(&--wrap-nowrap)#{$flex}--has-y-gap {
        margin-bottom: calc(var(--flex-gap-y) * -1);
    }

    :where(&--has-stretched-items) > * {
        flex: 1;
    }
}
