/**
 *
 * Group
 *
 */

.AJ-form_group {
    $group: &;

    align-items: center;
    display: inline-flex;
    white-space: nowrap;

    &:not(#{$group}--is-nested) {
        --_ui-lockup--tr: initial;
        --_ui-lockup--br: initial;
        --_ui-lockup--tl: initial;
        --_ui-lockup--bl: initial;
    }

    &--horizontal {
        flex-direction: row;

        > :not(:first-child) {
            --_ui-lockup--tl: 0;
            --_ui-lockup--bl: 0;
        }

        > :not(:last-child) {
            --_ui-lockup--tr: 0;
            --_ui-lockup--br: 0;
        }

        > * + * {
            margin-left: -1px !important;
        }
    }

    &--vertical {
        flex-direction: column;

        > :not(:first-child) {
            --_ui-lockup--tl: 0;
            --_ui-lockup--tr: 0;
        }

        > :not(:last-child) {
            --_ui-lockup--bl: 0;
            --_ui-lockup--br: 0;
        }

        > * {
            flex: 1;
            width: 100%;
        }

        > * + * {
            margin-top: -1px !important;
        }
    }

    &--is-full-width,
    &--is-full-width .input-text,
    &--is-full-width .text-area {
        width: 100%;
    }

    & &--is-primary {
        transition: none;
        z-index: 1;
    }

    & .form_auto-complete-input--is-focused,
    & [class^='form_']:active:not(.form_label),
    & [class^='form_']:focus-within:not(#{$group}__elevation-escape),
    & [class^='form_']:focus:not(#{$group}__elevation-escape) {
        transition: none;
        z-index: 2;
    }

    & .auto-complete-input:hover,
    & .form_action:not(.form_action--is-disabled):hover,
    & .form_button:not(.form_button--is-disabled):hover,
    & .form_input-text:focus-within .form_input-text__icon,
    & .form_input-text:focus-within .form_input-text__loading-indicator,
    & .form_input-text:not(.form_input-text--is-disabled):hover,
    & .form_select-wrapper:not(.form_select):not(.is-disabled):hover,
    & .form_text-area:not(.form_text-area--is-disabled):hover {
        transition: none;
        z-index: 3;
    }

    & .form_validation--is-visible.form_validation--is-inline {
        transition: none;
        z-index: 4 !important;
    }

    & {
        .form_label {
            padding-left: 6px;

            &--lg {
                padding-left: 8px;
            }
        }
    }

    @media (forced-colors: active) {
        & .form_label {
            border-width: 1px;
        }
    }
}
