// variables.scss

/*
* Color Definition
*/

// gray
@property --gray-25 {
    syntax: '<color>';
    inherits: true;
    initial-value: #f9fafb;
}
@property --gray-50 {
    syntax: '<color>';
    inherits: true;
    initial-value: #eff1f5;
}
@property --gray-75 {
    syntax: '<color>';
    inherits: true;
    initial-value: #e2e5ed;
}
@property --gray-100 {
    syntax: '<color>';
    inherits: true;
    initial-value: #d1d6e6;
}
@property --gray-125 {
    syntax: '<color>';
    inherits: true;
    initial-value: #c2c8dd;
}
@property --gray-150 {
    syntax: '<color>';
    inherits: true;
    initial-value: #b4bcd4;
}
@property --gray-175 {
    syntax: '<color>';
    inherits: true;
    initial-value: #a9b1c7;
}
@property --gray-200 {
    syntax: '<color>';
    inherits: true;
    initial-value: #9da4b9;
}
@property --gray-300 {
    syntax: '<color>';
    inherits: true;
    initial-value: #828ba4;
}
@property --gray-400 {
    syntax: '<color>';
    inherits: true;
    initial-value: #6a7287;
}
@property --gray-500 {
    syntax: '<color>';
    inherits: true;
    initial-value: #585f70;
}
@property --gray-600 {
    syntax: '<color>';
    inherits: true;
    initial-value: #464b59;
}
@property --gray-700 {
    syntax: '<color>';
    inherits: true;
    initial-value: #373b46;
}
@property --gray-800 {
    syntax: '<color>';
    inherits: true;
    initial-value: #242931;
}

//Blue

@property --blue-100 {
    syntax: '<color>';
    inherits: true;
    initial-value: #f3f9fc;
}
@property --blue-200 {
    syntax: '<color>';
    inherits: true;
    initial-value: #eaf6fc;
}
@property --blue-300 {
    syntax: '<color>';
    inherits: true;
    initial-value: #71b8e7;
}
@property --blue-400 {
    syntax: '<color>';
    inherits: true;
    initial-value: #4e91d1;
}
@property --blue-500 {
    syntax: '<color>';
    inherits: true;
    initial-value: #006bc2;
}
@property --blue-600 {
    syntax: '<color>';
    inherits: true;
    initial-value: #0953bf;
}
@property --blue-700 {
    syntax: '<color>';
    inherits: true;
    initial-value: #0b0f8b;
}

// Red
@property --red-100 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fdebed;
}
@property --red-200 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fbd6db;
}
@property --red-300 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fc9da8;
}
@property --red-400 {
    syntax: '<color>';
    inherits: true;
    initial-value: #f66f78;
}
@property --red-500 {
    syntax: '<color>';
    inherits: true;
    initial-value: #eb364b;
}
@property --red-600 {
    syntax: '<color>';
    inherits: true;
    initial-value: #bc2b3c;
}
@property --red-700 {
    syntax: '<color>';
    inherits: true;
    initial-value: #922c35;
}

// Amber
@property --amber-100 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fff6e3;
}
@property --amber-200 {
    syntax: '<color>';
    inherits: true;
    initial-value: #ffe6a2;
}
@property --amber-300 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fecf60;
}
@property --amber-400 {
    syntax: '<color>';
    inherits: true;
    initial-value: #fcc028;
}
@property --amber-500 {
    syntax: '<color>';
    inherits: true;
    initial-value: #f99d02;
}
@property --amber-600 {
    syntax: '<color>';
    inherits: true;
    initial-value: #f27c00;
}
@property --amber-700 {
    syntax: '<color>';
    inherits: true;
    initial-value: #de5f0c;
}

// Green
@property --green-100 {
    syntax: '<color>';
    inherits: true;
    initial-value: #ecf9ef;
}
@property --green-200 {
    syntax: '<color>';
    inherits: true;
    initial-value: #d9f3e0;
}
@property --green-300 {
    syntax: '<color>';
    inherits: true;
    initial-value: #96dda2;
}
@property --green-400 {
    syntax: '<color>';
    inherits: true;
    initial-value: #70d182;
}
@property --green-500 {
    syntax: '<color>';
    inherits: true;
    initial-value: #41c464;
}
@property --green-600 {
    syntax: '<color>';
    inherits: true;
    initial-value: #39b15d;
}
@property --green-700 {
    syntax: '<color>';
    inherits: true;
    initial-value: #2a7e41;
}

//Text Color
// @property --ui-text-primary {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: #000;
// }
// @property --ui-text-secondary {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: #6c757d;
// }
// @property --ui-text-disabled {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: #adb5bd;
// }
// @property --ui-text-knockout {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: #fff;
// }

// Special
@property --ui-interaction-callout {
    syntax: '<color>';
    inherits: true;
    initial-value: #f09;
}
@property --ui-interaction-callout-contrast {
    syntax: '<color>';
    inherits: true;
    initial-value: #fff2fa;
}

@property --ui-shadow-strength {
    syntax: '<color>';
    inherits: true;
    initial-value: rgba(0, 0, 0, 0.32);
}

@property --ui-interaction-primary {
    syntax: '<color>';
    inherits: true;
    initial-value: #006bc2;
}
@property --ui-interaction-primary-contrast {
    syntax: '<color>';
    inherits: true;
    initial-value: #0953bf;
}

@property --ui-white {
    syntax: '<color>';
    inherits: true;
    initial-value: #fff;
}
@property --ui-black {
    syntax: '<color>';
    inherits: true;
    initial-value: #000;
}

@property --ui-interaction-secondary {
    syntax: '<color>';
    inherits: true;
    initial-value: #eaf6fc;
}
@property --ui-interaction-secondary-contast {
    syntax: '<color>';
    inherits: true;
    initial-value: #d4ecf9;
}

// Z index

@property --z-index-lv1 {
    syntax: '<integer>';
    inherits: true;
    initial-value: 1000;
}
@property --z-index-lv2 {
    syntax: '<integer>';
    inherits: true;
    initial-value: 1100;
}
@property --z-index-lv3 {
    syntax: '<integer>';
    inherits: true;
    initial-value: 1200;
}

@property --ui-shadow-strength {
    syntax: '<color>';
    inherits: true;
    initial-value: rgba(0, 0, 0, 0.32);
}

@property --ui-base-font-size {
    syntax: '<length>';
    inherits: true;
    initial-value: 12px;
}

// Dark Theme Color
@media (prefers-color-scheme: dark) {
    :root {
        --ui-text-primary: #fff;
        --ui-text-secondary: var(--gray-150);
        --ui-text-disabled: var(--gray-125);
        --ui-text-knockout: #000;

        --gray-25: #222126;
        --gray-50: #2c2b2b;
        --gray-75: #383838;
        --gray-125: #65626a;
        --gray-150: #6f6f75;
        --gray-500: #858387;

        //green
        --green-100: #133a1d;
        --green-200: #1c552a;
        --green-300: #2c6f3b;
        --green-400: #3d8a4c;
        --green-500: #4e9f5b;
        --green-600: #40ab5e;
        --green-700: #40ab5e;

        //red
        --red-100: #5e151e;
        --red-200: #7a1f27;
        --red-300: #9d2b2f;
        --red-400: #b22d23;
        --red-500: #d93025;
        --red-600: #ff4d42;
        --red-700: #f77770;

        //amber
        --amber-100: #664811;
        --amber-200: #7f5a0c;
        --amber-300: #a47a0c;
        --amber-400: #ab7f2f;
        --amber-500: #b88527;
        --amber-600: #b98a33;
        --amber-700: #e8ae41;

        // blue
        --blue-700: #a4cef7;
        --blue-600: #7ab5ea;
        --blue-500: #579fddcc;
        --blue-400: #0953bf;
        --blue-300: #073b8c;
        --blue-200: #09245b;
        --blue-100: #09062f;

        // // red-500
        // --ui-status-danger: darken(#ff4d42, 20%);
        // --ui-status-danger-contrast: darken(#ff4d42, 40%);
        // // amber-500
        // --ui-status-warning: darken(#f99d02, 20%);
        // --ui-status-warning-contrast: darken(#f99d02, 40%);
        // // green-500
        // // --ui-status-success: darken(#16a34a, 20%);
        // // --ui-status-success-contrast:
        // // gray-500
        // --ui-status-other: darken(#585f70, 20%);
        // --ui-status-other-contrast: darken(#585f70, 40%);
        // // blue-500
        // --ui-interaction-primary: darken(#0ea5e9, 20%);
        // --ui-interaction-primary-contrast: darken(#0ea5e9, 40%);
        --ui-status-danger: var(--red-500);
        --ui-status-danger-contrast: var(--red-600);
        --ui-status-warning: var(--amber-500);
        --ui-status-warning-contrast: var(--amber-600);
        --ui-status-success: var(--green-500);
        --ui-status-success-contrast: var(--green-600);
        --ui-status-other: var(--gray-500);
        --ui-status-other-contrast: var(--gray-600);

        --ui-border: var(--gray-75);
        --ui-border-contrast: var(--gray-200);

        --ui-background: var(--gray-75);

        --ui-text: #fff;
        --ui-text-primary: #fff;
        --ui-text-secondary: var(--gray-125);
        --ui-text-disabled: var(--gray-150);
        --ui-text-knockout: #fff;
        // --ui-knockout: #303030;
        --ui-knockout: #545454;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --ui-status-danger: var(--red-500);
        --ui-status-danger-contrast: var(--red-600);
        --ui-status-warning: var(--amber-500);
        --ui-status-warning-contrast: var(--amber-600);
        --ui-status-success: var(--green-500);
        --ui-status-success-contrast: var(--green-600);
        --ui-status-other: var(--gray-500);
        --ui-status-other-contrast: var(--gray-600);

        --ui-border: var(--gray-75);
        --ui-border-contrast: var(--gray-200);

        --ui-background: #fff;

        --ui-text: #000;
        --ui-text-primary: #000;
        --ui-text-secondary: var(--gray-125);
        --ui-text-disabled: var(--gray-150);
        --ui-text-knockout: #000;
        --ui-knockout: #fff;
    }
}
