/**
 *
 * dialogs_tooltip
 *
*/

.dialogs_tooltip {
}

// style for tooltip box
.__tooltip-box {
    background: var(--gray-700);
    color: var(--ui-text-knockout);
    padding: 4px 8px;
    z-index: var(--z-index-lv1);
    max-width: 300px;
}
