/**
 *
 * KeyCap
 *
 */

kbd.AJ-keycap {
    --keycap-background-shade: #585f70;
    background: var(--ui-base-background);
    border: 1px solid var(--ui-base-border);
    border-radius: 4px;
    box-shadow: none;
    color: var(--ui-text-primary);
    display: inline-block;
    font-family:
        Roboto Mono,
        Menlo,
        Liberation Mono,
        Courier,
        monospace;
    letter-spacing: -0.01em;
    line-height: inherit;
    padding: 0.05em 0.35em 0.1em;
    text-transform: capitalize;
    white-space: nowrap;

    &--is-arrow-key,
    &--is-cmd-key {
        font-family:
            NotoSans,
            Lucida Grande,
            Lucida Sans Unicode,
            sans-serif;
    }

    &--knockout {
        background: var(--keycap-background-shade);
        border: none;
        box-shadow: none;
        color: var(--ui-text-knockout);
    }

    &--disabled,
    &--secondary,
    &--secondary-knockout,
    &--tertiary {
        background: transparent;
        border: none;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }

    &--secondary {
        color: var(--ui-text-secondary);
    }

    &--tertiary {
        color: var(--ui-text-tertiary);
    }

    &--secondary-knockout {
        color: var(--ui-text-knockout);
    }

    &--disabled {
        color: var(--ui-text-disabled);
    }

    &--xs {
        font-size: 11px;
    }

    &--sm {
        font-size: 12px;
    }

    &--md {
        font-size: 13px;
        // font-size: var(--ui-base-font-size, 13px);
    }

    &--lg {
        font-size: 15px;
    }

    &--no-capitalize {
        text-transform: none;
    }
}
