.autocomplete__dropdown {
    &__ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-empty {
        padding: 10px;
        color: var(--gray-125);
    }
    &_list {
        position: relative;
        &-item {
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            color: black;
            padding: 0px 10px;
            &.--focused {
                background-color: #0953bf;
                color: white;
            }

            & [data-keyword] {
                flex: 1;
            }
            & [data-description] {
                margin-right: 5px;
                color: var(--gray-75);
            }
        }
    }
}

.autocomplete__dropdown--guide {
    background-color: white;
    padding: 7px 10px 9px 10px;
    border: solid 1px var(--ui-interaction-primary);
}
